<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!--
        指定使用注解方式配置,配置自动扫描的包名,
        base-package指定自己应用中控制器所在的包目录
        <context:component-scan/> 扫描指定的包中的类上的注解，常用的注解有： 
        @Controller 声明Action组件
        @Service 声明Service组件
        @Service("myMovieLister") 
        @Repository 声明Dao组件
        @Component 泛指组件, 当不好归类时. 
        @RequestMapping("/menu") 请求映射 
        @Resource用于注入，( j2ee提供的 ) 默认按名称装配，
        @Resource(name="beanName") 
        @Autowired用于注入，(srping提供的) 默认按类型装配 
        @Transactional(rollbackFor={Exception.class}) 事务管理 
        @ResponseBody @Scope("prototype")设定bean的作用域
    -->
	  <!-- 启用spring mvc 注解模式 -->
    <context:annotation-config />
    
    <!-- 设置使用注解的类所在的jar包  -->
	<context:component-scan base-package="com.hb.dao"></context:component-scan>
	<context:component-scan base-package="com.hb.exception"></context:component-scan>
	<context:component-scan base-package="com.hb.web"></context:component-scan>
		
	<!-- 
		配置一个基于注解的定制的WebBindingInitializer，解决日期转换问题，方法级别的处理器映射，
		有人说该bean要放在context:component-scan前面，要不然不起作用，但放后面也可以啊。
	-->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	    <property name="cacheSeconds" value="0" />
	</bean> 
	
   	<!-- 开启AOP监听 只对当前配置文件有效 -->
	<!-- <aop:aspectj-autoproxy expose-proxy="true"/> -->
	
	 <bean id="userDao" class="com.hb.dao.redis.UserModelDaoImpl" />  
	 
	<import resource="classpath:/config/spring-redis.xml"/>
	
	<!-- <import resource="classpath:/config/spring-mybatis.xml"/> -->
	
	<!-- <import resource="classpath:/config/app-aop.xml"/> -->
	
	
</beans>